body
{
	background-color: powderblue;
}

#myHeader
{
	font-size: 150%;
	color: black;
}

p
{
	color: white;
}

.section
{
	background-color: tomato;
	color: white;
	border: 2px solid black;
	margin: 20px;
	padding: 20px;
}

.songname
{
	font-size: 120%;
	color: green;
}

a:link
{
	color: blue;
	background-color: transparent;
	text-decoration: none;
}
a:hover
{
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

