body
{
	background-color: powderblue;
}

#myHeader
{
	color: lightcyan;
}

p
{
	color: white;
}

.section
{
	background-color: tomato;
	color: white;
	border: 2px solid black;
	margin: 20px;
	padding: 20px;
}

.songname
{
	font-size: 120%;
	color: green;
}

